/.bundle/
/vendor/bundle/
/lib/cruise/cruise.*
/lib/cruise/*.bundle
/lib/cruise/*.so
/lib/cruise/*.dll
/pkg/
/tmp/
*.gem
Gemfile.lock

/target/
/ext/cruise/target/

/ext/cruise/include/cruise.h

/ext/cruise/Makefile
/ext/cruise/*.o
/ext/cruise/*.bundle
/ext/cruise/*.so
/ext/cruise/mkmf.log

/.gem_rbs_collection/
